# Kafka
KAFKA_BROKERS=localhost:29092

# Redis
REDIS_URL=redis://localhost:6379

# MongoDB
MONGO_URI=mongodb://root:rootpass@localhost:27017/velocity?authSource=admin

# JWT
JWT_SECRET=super-secret-dev-key
JWT_EXPIRES_IN=1d

# Service ports
IDENTITY_PORT=4001
INGESTION_PORT=4002
TRACKING_PORT=4003
MATCHING_PORT=4004
TRIP_PORT=4005

# Misc
NODE_ENV=development
